<div class="mb-0 d-flex align-items-center flex-column justify-content-center min-100" id="header">
  <form class="form-signin">
    <label for="username" class="sr-only">Fullname</label>
    <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Fullname" required focus>
    <label for="username" class="sr-only">Email</label>
    <input type="email" id="username" name="username" class="form-control" placeholder="Email" required>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-primary btn-block" type="submit">Register</button>
  </form>
</div>
