/* You can add global styles to this file, and also import other style files */
body,html {
    height: 100%;
}

/* pad top for the fixed navbar */
body {
  padding-top: 56px;
  padding-bottom: 40px;
}

.hidden {
	display:none;
}

/* fixed and fluid on sm and up */
@media (min-width: 768px) {
    .fixed {
        flex: 0 0 180px;
        min-width: 180px;
    }
}

.col.fluid {
   min-height: 100%;
}
